html, body {
  outline: none;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #333333;
}
.root {
  margin: 1rem;
  margin: 1rem;
  background-color: #333333;
  border-radius: 3px;
}
.root-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #333333;
  padding: 1rem 1rem 0rem;
  z-index: 1;
}
.root-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1rem;
  background-color: #333333;
  z-index: 1;
}
.root-footer .last-update {
  color: #666666;
  margin-left: 1em;
}
.root-footer .icon-button {
  float: right;
}
.contents {
  padding-top: calc(8px * 2 + 1rem + 1rem); /*tab's padding * 2 + 1 font height + content's margin*/
  background-color: white;
}

.tabnav {
  margin-bottom: 0px;
}
.tabnav-tab {
  color: #ddd;
}
.tabnav-extra {
  padding-top: 0px;
}
.select {
  outline: none;
}

.contents .blankslate {
  height: 100%;
}

.octicon {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.repo {
  display: flex;
  flex-direction: column;
  border-top: solid 1px #ddd;
  padding: 0.5rem 0.5rem 0rem; /*use footer as padding*/
}
.repo .primary {
  margin-top: 0.5em;
  margin-right: 1.0em;
  display: flex;
  align-items: center;
}
.repo .primary .description {
  font-size: 1.1em;
  flex: auto;
}
.repo .primary .icon-button {
  flex: none;
  margin-right: 0.2em;
}
.repo .secondary {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.repo .secondary .title {
  flex: auto;
  font-size: 1.0rem;
}
.repo .secondary .metadata {
  flex: none;
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.875em;
}
.repo .secondary .metadata > * {
  margin-right: 0.5em;
  min-width: 5em;
}
.repo .footer .lang-name {
  min-height: 0.875em;
}
.repo .footer .lang-name {
  font-size: 0.875em; /*also as bottom padding of .repo container*/
  color: #999999;
  float: right;
}

.repos {
  border: solid 1px #ddd;
  border-radius: 4px;
}
.repos .lang {
  background-color: #eeeeee;
  text-align: center;
  padding: 0.5em;
  font-size: 1.1rem;
}
