html, body {
  height:100%;
  width:100%;
  margin:0;
}
body {
  outline: none;
  overflow: hidden;
}
.root {
  background-color: #333333;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
.contents-wrapper {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.contents {
  display: block;
  padding-top: 1em; /*tab's padding * 2 + 1 font height + content's margin*/
  background-color: white;
  height: 100%; /*tab's padding * 2 + 1 font height*/
  overflow-y: auto;
  box-sizing: border-box;
  flex: auto;
}

.tabnav {
  background-color: #333333;
  margin-bottom: 0px;
  flex: none;
}
.tabnav-tab {
  color: #ddd;
}
.tabnav-extra {
  padding-top: 0px;
}
.select {
  outline: none;
}

.contents .blankslate {
  height: 100%;
}

.octicon {
  padding-left: 0.2em;
  padding-right: 0.2em;
}
.external-link {
  display: inline-flex;
  align-items: center;
}

.repo {
  display: flex;
  flex-direction: column;
  border-top: solid 1px #ddd;
  padding: 0.5rem 0.5rem 0rem; /*use footer as padding*/
}
.repo .primary {
  margin-top: 0.5em;
  margin-right: 1.0em;
  display: flex;
  align-items: center;
}
.repo .primary .description {
  font-size: 1.1em;
  flex: auto;
}
.repo .primary .icon-button {
  flex: none;
  margin-right: 0.2em;
}
.repo .secondary {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.repo .secondary .title {
  flex: auto;
  font-size: 1.0rem;
  display: flex;
  align-items: center;
}
.repo .secondary .title .external-link {
  margin-left: 0.2em;
  margin-right: 0.2em;
}
.repo .secondary .author-icon {
  border-radius: 0.15em;
  width: 1em;
  height: 1em;
  margin-right:0.2em;
  margin-left:0.2em;
}
.repo .secondary .metadata {
  flex: none;
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.875em;
}
.repo .secondary .metadata > * {
  margin-right: 0.5em;
  min-width: 5em;
}
.repo .footer .lang-name {
  min-height: 0.875em;
}
.repo .footer .lang-name {
  font-size: 0.875em; /*also as bottom padding of .repo container*/
  color: #999999;
  float: right;
}

.repos {
  border-top: solid 1px #ddd;
}
.repos .lang {
  background-color: #eeeeee;
  text-align: center;
  padding: 0.5em;
  font-size: 1.1rem;
  flex: auto;
}
.repos .lang .lang-link {
  color: inherit;
}
.repos .header {
  display: flex;
  flex-direction: row;
}
.repos .color-bar {
  flex: none;
  min-height: 100%;
  min-width: 1em;
}

.embedded-browser {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  font-size: 1rem;
  color: white;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.anime-slidein {
  animation-duration: 0.2s;
  animation-name: slidein;
}
.anime-slideout {
  animation-duration: 0.2s;
  animation-name: slideout;
  margin-left: 100%;
}
@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}
@keyframes slideout {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: 100%;
  }
}

.embedded-browser .browser-title-bar {
  frex: none;
  display: flex;
  flex-direction: row;
  margin: 0.25em 0.5em;
  align-items: center;
}
.embedded-browser .browser-title-bar .mega-octicon {
  margin: 0em 0.25em;
  cursor: pointer;
}
.embedded-browser .page-back {
  flex: none;
}
.embedded-browser .page-forward {
  flex: none;
}
.embedded-browser .page-back.disabled {
  color: #666666;
}
.embedded-browser .page-forward.disabled {
  color: #666666;
}
.embedded-browser .page-title {
  flex: auto;
  color: inherit;
}
.embedded-browser .page-title .page-link {
  display: block;
  width: 100%;
  font-size: 1rem;
  margin-left: 0.5em;
  margin-right: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: inherit;
}
.embedded-browser .page-external {
  flex: none;
}
.embedded-browser .browser-close {
  flex: none;
}
.embedded-browser .browser-body {
  flex: auto;
  height: 100%;
  width: 100%;
}

.root .contents .toast {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 3em;
  min-width: calc(100vw - 6em);
}
.root .contents .toast .flash {
  display: flex;
  flex-direction: row;
}
.root .contents .toast .close {
  flex: none;
}
.root .contents .toast .main {
  flex: auto;
}
.root .contents .toast .octicon {
  cursor: pointer;
}
.root .contents .toast a {
  font-weight: bold;
  text-decoration: underline;
  color: inherit;
}
.anime-fadeout {
  animation-duration: 0.3s;
  animation-name: fadeout;
  opacity: 0.0;
}
@keyframes fadeout {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
  }
}

.slideout-menu {
  position: fixed;
  left: auto;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}
.slideout-panel {
  position:relative;
  z-index: 1;
}
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}
.slideout-open .slideout-menu {
  display: block;
}

.slide-menu {
  min-width: 256px;
  float: right;
}
.slide-menu h2 {
  margin: 1em 1em 0em;
}
.slide-menu .mega-octicon {
  color: white;
}
.slide-menu .mega-octicon.octicon-arrow-right {
  float: right;
  cursor: pointer;
}
.slide-menu .langs-filter {
  background-color: white;
  border-radius: 0.5em;
  margin: 1em;
  padding: 1em;
}
.slide-menu .settings {
  background-color: white;
  margin: 1em;
  border-radius: 0.5em;
}
.slide-menu .last-update {
  color: #666666;
  margin-left: 1em;
}
